.jumbotron {
    text-align: center;
    opacity: 0.95;
}

body {
    background-image: url(../images/flag.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}


h1 {
    font-size: 50px;
}

h2, .btn-block {
    display: none;
}