html {
    overflow-y: scroll; 
}

.jumbotron {
    text-align: center;
    opacity: 0.95;
}

body {
    background-image: url(../images/flag.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}


h1 {
    font-size: 50px;
}

h2, .btn-block {
    display: none;
}

@media only screen and (max-width: 600px) {
    img {
        max-width: 200px;
    }
}

@media only screen and (min-width: 600px) {
    img {
        max-width: 300px;
    }
}
@media only screen and (min-width: 768px) {
    img {
        max-width: 400px;
    }
}
@media only screen and (min-width: 900px) {
    img {
        max-width: 100%;
    }
}